{% set title = model + " Administration" %}
{% extends "base_admin3.html" %}

{% macro display_key(obj) %}
{% if obj.key is callable %}{{ obj.key()|e }}{% else %}{{ obj.key.urlsafe()|e }}{% endif %}
{% endmacro %}

{% macro display_id(obj) %}
{% if obj.key is callable %}{{ obj.key().id_or_name()|e }}{% else %}{{ obj.key.id()|e }}{% endif %}
{% endmacro %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/admin/">Administration</a></li>
  <li class="active">{{ model }}</li>
</ol>
{% endblock %}

{% block maincontent %}

<form class="form-inline" method="GET" action="search/">
  {% if not read_only %}
  <a href="add/" type="button" class="btn btn-default">Neu</a>
  {% endif %}
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Export <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="export_xls/">XLS</a></li>
      <li><a href="export_csv/">CSV</a></li>
    </ul>
  </div>

  <div class="form-group form-group-sm">&nbsp;</div>

  <div class="form-group form-group-sm">
    <label class="control-label" for="q">Suche</label>
    <input type="search" class="form-control input-sm" id="q" placeholder="Suchbegriffe" {% if term is defined %}value="{{ term }}"{% endif %}>
  </div>
</form>

<p>&nbsp;</p>

{% if not admin_class.read_only %}
<form action="delete/" method="POST">
{% endif %}

  <div class="form-group form-group-sm">
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        {% if not admin_class.read_only %}<th>&nbsp;</th>{% endif %}
        <th>Key/ID</th>
        {% for field in admin_class.list_fields %}
        {# This is a little bit hackish. Django now uses a class ChangeList to display this table #}
        <th>{% if field in model_class._properties %}<a href="?ot=asc&amp;o={{ field }}">{{ field|title }}</a>{% else %}{{ field|title }}{% endif %}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
      <tr>
        {% if not read_only %}
        <td><input name="object_id" type="checkbox" value="{{ display_key(obj) }}"></td>
        {% endif %}
        <td>
        {% if not read_only %}
          <a href="/admin/{{ app }}/{{ model }}/{{ display_key(obj) }}/">{{ display_id(obj)|e }}</a>
        {% else %}
          {{ display_id(obj)|e }}
        {%- endif %}
        </td>
        {% for field in admin_class.list_fields %}<td>{{ obj|attr(field)|e }}</td>{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

{% if not admin_class.read_only and admin_class.deletable %}
  <div class="form-group form-group-sm">
    <button class="btn btn-danger" type="submit">Löschen</button>
  </div>
</form>
{% endif %}

<nav>
  <ul class="pager">
    <li class="previous {% if not prev_objects %}disabled{% endif %}"><a href="?{{ prev_qs }}"><span aria-hidden="true">&larr;</span> Zurück</a></li>
    <li class="next {% if not more_objects %}disabled{% endif %}"><a href="?{{ next_qs }}">Vor <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
{% endblock %}
{% block secondarycontent %}
{% endblock %}
