<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if title is defined %}{{ title|e }}{% else %}gaetk{% endif %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block gaetkstyle -%}
      <!--base_minimal3:gaetkstyle--><!--/base_minimal3:gaetkstyle-->
    {%- endblock gaetkstyle %}
    {% block extrastyle -%}
      <!--base_minimal3:extrastyle--><!--/base_minimal3:extrastyle-->
    {%- endblock extrastyle %}
    <script src="/gaetk/static/jquery/jquery-1.11.3.min.js"></script>

    {% block extraheader -%}
      <!--base_minimal3:extraheader--><!--/base_minimal3:extraheader-->
    {%- endblock %}
  </head>

  <body>
    <div class="container">
    {% block container -%}<!--base_minimal3:container-->
      {% block navbar -%}<!--base_minimal3:navbar-->{%- endblock navbar %}

      {% block content -%}<!--base_minimal3:content-->
        {# display session specific messages #}
        {% block gaetk_messages -%}<!--base_minimal3:gaetk_messages-->
        {% if _gaetk_messages is defined -%}
          {% for message in _gaetk_messages -%}
            <div class="alert alert-{{ message.type }}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p>{{ message.html }}</p>
            </div>
          {%- endfor %}
        {%- endif %}
        <!--/base_minimal3:gaetk_messages-->{%- endblock gaetk_messages %}

        <div class="row mainrow">
          {% block maincontent -%}<!--base_minimal3:maincontent-->

          {% block firstheading -%}<!--base_minimal3:firstheading--><h1>{% if title is defined %}{{ title|e }}{% endif %}</h1><!--/base_minimal3:firstheading-->{%- endblock firstheading %}

          {% block mainrow -%}<!--base_minimal3:mainrow-->
            {% if content is defined -%}
              {{ content }}
            {%- else -%}
              {#<h3>Main content</h3>#}
            {%- endif %}
          <!--/base_minimal3:mainrow-->{%- endblock mainrow %}
          <!--/base_minimal3:maincontent-->{%- endblock maincontent %}
        </div>
    <!--/base_minimal3:content-->{%- endblock content %}
    <!--/base_minimal3:container-->{%- endblock container %}
    </div>
    {% block footer -%}<!--base_minimal3:footer-->{%- endblock footer %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script async src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script async src="/gaetk/static/jquery/jquery-ui.min.js"></script>
    {% block basejavascript -%}<!--base_minimal3:basejavascript-->{%- endblock basejavascript %}
    {% block javascript -%}<!--base_minimal3:javascript-->{%- endblock javascript %}
    {% block analytics_tracking -%}<!--base_minimal3:analytics_tracking-->{%- endblock analytics_tracking %}
  </body>
</html>
