<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if title is defined %}{{ title|e }}{% else %}gaetk{% endif %}{% endblock %}</title>

    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block gaetkstyle %}<!--base_admin3:gaetkstyle-->
    <style type="text/css">
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

/* Don't print link hrefs */
@media print {
  a[href]:after {
    content: none
  }
}
    </style>
    <!--/base_admin3:gaetkstyle-->{% endblock gaetkstyle %}
    {% block extrastyle -%}<!--base_admin3:extrastyle-->
    <!--/base_admin3:extrastyle-->{%- endblock extrastyle %}
    {% block extrahead -%}<!--base_admin3:extrahead-->
    <!--/base_admin3:extrahead-->{%- endblock extrahead %}
  </head>

  <body>{{ beta_banner }}
    <div class="container">
      {% block container -%}<!--base_admin3:container-->
      {% block navbar -%}<!--base_admin3:navbar-->
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% block projectname -%}<!--base_admin3:projectname-->
              {% if gaetk_app_name is defined -%}
                {{ gaetk_app_name|e }} Admin
              {%- else -%}
                gaetk used without setting `gaetk_app_name`
              {%- endif -%}
            <!--/base_admin3:projectname-->{%- endblock projectname %}</a>
          </div>
        </div><!--/.container-fluid -->
      </div>
     <!--/base_admin3:navbar-->{%- endblock navbar %}

    {% block content -%}<!--base_admin3:content-->
        {# display session specific messages #}
        {% if _gaetk_messages is defined -%}
          {% for message in _gaetk_messages -%}
            <div class="alert alert-{% if message.type == 'error' %}danger{% else %}{{ message.type }}{% endif %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p>{{ message.html }}</p>
            </div>
          {%- endfor %}
        {%- endif %}

      <div class="row gaetkheading">
        <div class="col-sm-12">{% block firstheading -%}<!--base_admin3:firstheading--><h1>{% if title is defined %}{{ title|e }}{% endif %}</h1><!--/base_admin3:firstheading-->{%- endblock firstheading %}</div>
      </div>

      <div class="row gaetkbreadcrumbs">
        <div class="col-sm-12">{% block breadcrumbs %}<!--base_admin3:breadcrumbs--><!--/base_admin3:breadcrumbs-->{% endblock breadcrumbs %}</div>
      </div>

      <div class="row mainrow">
      {% block mainrow -%}<!--base_admin3:mainrow-->
        <div id="maincontent" class="col-sm-9 maincontent">
        {% block maincontent -%}<!--base_admin3:maincontent-->
          {% if content is defined -%}
            {{ content }}
          {%- else -%}
            {#<h3>Main content</h3>#}
          {%- endif %}
        <!--/base_admin3:maincontent-->{%- endblock maincontent %}
        </div>

        <div id="secondarycontent" class="col-sm-3 blog-sidebar">
        {% block secondarycontent -%}<!--base_admin3:secondarycontent-->
          {% if secondarycontent is defined -%}
            {{ secondarycontent }}
          {%- else -%}
            {# <h3>Secondary content</h3> #}
          {%- endif %}
        <!--/base_admin3:secondarycontent-->{%- endblock secondarycontent %}
        </div>
      <!--/base_admin3:mainrow-->{%- endblock mainrow %}
      </div>
    </div>
    <!--/base_admin3:content-->{%- endblock content %}
    <!--/base_admin3:container-->{%- endblock container %}
    </body>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block basejavascript -%}<!--base_admin3:basejavascript--><!--/base_admin3:basejavascript-->{%- endblock basejavascript %}
    {% block javascript -%}<!--base_admin3:javascript--><!--/base_admin3:javascript-->{%- endblock javascript %}
    {% block analytics_tracking -%}<!--base_admin3:analytics_tracking--><!--/base_admin3:analytics_tracking-->{%- endblock analytics_tracking %}
    {% block footer -%}<!--base_admin3:footer--><!--/base_admin3:footer-->{%- endblock footer %}

    <!--  from https://codepen.io/eode9/pen/twkKm -->
    <style>
      .corner-ribbon{
        z-index: 1001;
        width: 200px;
        opacity: 0.4;
        background: #e43;
        position: absolute;
        top: 25px;
        left: -50px;
        text-align: center;
        line-height: 50px;
        letter-spacing: 1px;
        color: #f0f0f0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      .corner-ribbon.sticky{
        position: fixed;
      }
      .corner-ribbon.shadow{
        box-shadow: 0 0 3px rgba(0,0,0,.3);
      }
      .corner-ribbon.bottom-right{
        top: auto;
        right: -50px;
        bottom: 25px;
        left: auto;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      .corner-ribbon.red{
        background: #e43;
      }
    </style>
    {# for debugging #}

    {% if gaetk_development %}
      <div class="corner-ribbon bottom-right sticky red shadow">Development</div>
      <script>
        {% autoescape false %}
var gaetk_global = {{ gaetk_globalcontext_json }};
var gaetk_context = {{ gaetk_localcontext_json }};
        {% endautoescape %}
      </script>
    {% endif %}
  </body>
</html>
