<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if title is defined %}{{ title|e }}{% else %}gaetk{% endif %}{% endblock %}</title>

    <script src="/gaetk/static/jquery/jquery-1.11.3.min.js"></script>
    <script async src="/gaetk/static/jquery/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <link href="/gaetk/static/bootstrap/3.3.x/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block gaetkstyle %}
    <style type="text/css">
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
    </style>
    {% endblock gaetkstyle %}
    {% block extrastyle -%}
    {%- endblock extrastyle %}
    {% block extrahead -%}
    {%- endblock extrahead %}
  </head>

  <body>
    <div class="container">
      {% block container -%}
      {% block navbar -%}
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% block projectname -%}
              {% if projectname is defined -%}
                {{ projectname|e }}
              {%- else -%}
                gaetk used without setting `projectname`
              {%- endif -%}
            {%- endblock projectname %}</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default</a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
     {%- endblock navbar %}

    {% block content -%}

        {# display session specific messages #}
        {% if _gaetk_messages is defined -%}
          {% for message in _gaetk_messages -%}
            <div class="alert alert-{{ message.type }}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p>{{ message.html }}</p>
            </div>
          {%- endfor %}
        {%- endif %}

      <div class="row">
        <div class="col-sm-12">{% block firstheading -%}<h1>{% if title is defined %}{{ title|e }}{% endif %}</h1>{%- endblock firstheading %}</div>
      </div>

      <div class="row">
        <div class="col-sm-12">{% block breadcrumbs %}{% endblock breadcrumbs %}</div>
      </div>

      <div class="row mainrow">
      {% block mainrow -%}
        <div class="col-sm-8 maincontent">
        {% block maincontent -%}
          {% if content is defined -%}
            {{ content }}
          {%- else -%}
            {#<h3>Main content</h3>#}
          {%- endif %}
        {%- endblock maincontent %}
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        {% block secondarycontent -%}
          {% if secondarycontent is defined -%}
            {{ secondarycontent }}
          {%- else -%}
            {# <h3>Secondary content</h3> #}
          {%- endif %}
        {%- endblock secondarycontent %}
        </div>
      {%- endblock mainrow %}
      </div>
    </div>
    {%- endblock content %}
    {%- endblock container %}
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/gaetk/static/bootstrap/3.3.x/js/bootstrap.min.js"></script>
    {% block basejavascript -%}{%- endblock basejavascript %}
    {% block javascript -%}{%- endblock javascript %}
    {% block analytics_tracking -%}{%- endblock analytics_tracking %}
    {% block footer -%}{%- endblock footer %}
  </body>
</html>
