{% extends "base_minimal3.html" %}
<!DOCTYPE html>
    {% block gaetkstyle %}<!--base_default3:gaetkstyle-->
    <style type="text/css">
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
    </style>
    <!--/base_default3:gaetkstyle-->{% endblock gaetkstyle %}

      {% block navbar -%}<!--base_default3:navbar-->
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% block projectname -%}<!--base_default3:projectname-->
              {% if projectname is defined -%}
                {{ projectname|e }}
              {%- else -%}
                gaetk used without setting `projectname`
              {%- endif -%}
            <!--/base_default3:projectname-->{%- endblock projectname %}</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default</a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
    {% block navbaraddon %}<!--base_default3:navbaraddon-->
    <!--/base_default3:navbaraddon-->{% endblock navbaraddon %}
    <!--/base_default3:navbar-->{%- endblock navbar %}

    {% block content -%}<!--base_default3:content-->
        {# display session specific messages #}
        {% if _gaetk_messages is defined -%}
          {% for message in _gaetk_messages -%}
            <div class="alert alert-{{ message.type }}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p>{{ message.html }}</p>
            </div>
          {%- endfor %}
        {%- endif %}

      {% block firstheading -%}<!--base_default3:firstheading--><h1>{% if title is defined %}{{ title|e }}{% endif %}</h1><!--/base_default3:firstheading-->{%- endblock firstheading %}

      <div class="row mainrow">
      {% block mainrow -%}<!--base_default3:mainrow-->
        <div class="col-sm-8 maincontent">
        {% block maincontent -%}<!--base_default3:maincontent-->
          {% if content is defined -%}
            {{ content }}
          {%- else -%}
            {#<h3>Main content</h3>#}
          {%- endif %}
        <!--/base_default3:maincontent-->{%- endblock maincontent %}
        </div>

        <div class="col-sm-4 col-md-3 col-md-offset-1">
        {% block secondarycontent -%}<!--base_default3:secondarycontent-->
          {% if secondarycontent is defined -%}
            {{ secondarycontent }}
          {%- else -%}
            {# <h3>Secondary content</h3> #}
          {%- endif %}
        <!--/base_default3:secondarycontent-->{%- endblock secondarycontent %}
        </div>
      <!--/base_default3:mainrow-->{%- endblock mainrow %}
    </div>
    <!--/base_default3:content-->{%- endblock content %}
