<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if title is defined %}{{ title|e }}{% else %}gaetk{% endif %}{% endblock %}</title>

    <script src="/gaetk/static/jquery/jquery-1.11.3.min.js"></script>
    <script async src="/gaetk/static/jquery/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <link type="text/css" href="/gaetk/static/bootstrap/3.3.x/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/gaetk/static/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block gaetkstyle %}<!--base_admin3:gaetkstyle-->
    <style type="text/css">
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
    </style>
    <!--/base_admin3:gaetkstyle-->{% endblock gaetkstyle %}
    {% block extrastyle -%}<!--base_admin3:extrastyle-->
    <!--/base_admin3:extrastyle-->{%- endblock extrastyle %}
    {% block extrahead -%}<!--base_admin3:extrahead-->
    <!--/base_admin3:extrahead-->{%- endblock extrahead %}
  </head>

  <body>{{ beta_banner }}
    <div class="container">
      {% block container -%}<!--base_admin3:container-->
      {% block navbar -%}<!--base_admin3:navbar-->
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% block projectname -%}<!--base_admin3:projectname-->
              {% if projectname is defined -%}
                {{ projectname|e }} Admin
              {%- else -%}
                gaetk used without setting `projectname`
              {%- endif -%}
            <!--/base_admin3:projectname-->{%- endblock projectname %}</a>
          </div>
        </div><!--/.container-fluid -->
      </div>
     <!--/base_admin3:navbar-->{%- endblock navbar %}

    {% block content -%}<!--base_admin3:content-->

        {# display session specific messages #}
        {% if _gaetk_messages is defined -%}
          {% for message in _gaetk_messages -%}
            <div class="alert alert-{% if message.type == 'error' %}danger{% else %}{{ message.type }}{% endif %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p>{{ message.html }}</p>
            </div>
          {%- endfor %}
        {%- endif %}

      <div class="row gaetkheading">
        <div class="col-sm-12">{% block firstheading -%}<!--base_admin3:firstheading--><h1>{% if title is defined %}{{ title|e }}{% endif %}</h1><!--/base_admin3:firstheading-->{%- endblock firstheading %}</div>
      </div>

      <div class="row gaetkbreadcrumbs">
        <div class="col-sm-12">{% block breadcrumbs %}<!--base_admin3:breadcrumbs--><!--/base_admin3:breadcrumbs-->{% endblock breadcrumbs %}</div>
      </div>

      <div class="row mainrow">
      {% block mainrow -%}<!--base_admin3:mainrow-->
        <div class="col-sm-8 maincontent">
        {% block maincontent -%}<!--base_admin3:maincontent-->
          {% if content is defined -%}
            {{ content }}
          {%- else -%}
            {#<h3>Main content</h3>#}
          {%- endif %}
        <!--/base_admin3:maincontent-->{%- endblock maincontent %}
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        {% block secondarycontent -%}<!--base_admin3:secondarycontent-->
          {% if secondarycontent is defined -%}
            {{ secondarycontent }}
          {%- else -%}
            {# <h3>Secondary content</h3> #}
          {%- endif %}
        <!--/base_admin3:secondarycontent-->{%- endblock secondarycontent %}
        </div>
      <!--/base_admin3:mainrow-->{%- endblock mainrow %}
      </div>
    </div>
    <!--/base_admin3:content-->{%- endblock content %}
    <!--/base_admin3:container-->{%- endblock container %}
    </body>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/gaetk/static/bootstrap/3.3.x/js/bootstrap.min.js"></script>
    {% block basejavascript -%}<!--base_admin3:basejavascript--><!--/base_admin3:basejavascript-->{%- endblock basejavascript %}
    {% block javascript -%}<!--base_admin3:javascript--><!--/base_admin3:javascript-->{%- endblock javascript %}
    {% block analytics_tracking -%}<!--base_admin3:analytics_tracking--><!--/base_admin3:analytics_tracking-->{%- endblock analytics_tracking %}
    {% block footer -%}<!--base_admin3:footer--><!--/base_admin3:footer-->{%- endblock footer %}
  </body>
</html>
